body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background: #f4f4f4;
}

.container {
    width: 80%;
    margin: auto;
    margin-top: 40px;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}

h1 {
    text-align: center;
    color: #333;
}

.form-box {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.form-box input,
.form-box select {
    padding: 10px;
    width: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}

.summary {
    margin-bottom: 20px;
}

.summary h2 {
    color: green;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table th,
table td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

table th {
    background: #007bff;
    color: white;
}
.chart-container {
    margin-top: 30px;
    background: #1e1e2f;
    padding: 15px;
    border-radius: 15px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    height: 300px;
}
